/* ======== GLOBAL DARK THEME ========= */
body {
    margin: 0;
    font-family: Arial;
    background: #0d1117;
    color: #e6edf3;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 30px;
}

/* NAVBAR */
nav {
    background: #161b22;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #e6edf3;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #58a6ff;
}

/* FORMS */
input, select {
    width: 100%;
    padding: 12px;
    background: #0d1117;
    border: 1px solid #30363d;
    border-radius: 6px;
    color: white;
    margin-bottom: 15px;
}

/* BUTTON */
button {
    padding: 12px 20px;
    background: #238636;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #2ea043;
}

/* CARD */
.card {
    background: #161b22;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #30363d;
}
